.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.wrapper>div {
    width: 100%;
}

.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
    margin-top: 2rem;
}